// Color palette
$color-lead: #FCFFFC;
$color-lead-2: #040F0F;
$color-primary: #2D3A3A;
$color-secondary: #2BA84A;
$color-third: #248232;

///////////////////////

$animation-cubic: cubic-bezier(0.240, 0.465, 0.450, 0.950) both;